@page
@model IndexModel

<form>
    <p><strong>In-memory compilation</strong></p>

    <p>
        <label>Code</label>
        <textarea rows="6"></textarea>
    </p>
    
    <button type="submit">Send</button>
</form>