@page
@model IndexModel
        
<form method="post">
    <p>
        <label>C# code</label>
        <textarea asp-for="Code" rows="3"></textarea>
    </p>
    
    @if (Model.State is not null)
    {
        <p>
            <label>Return value</label>
            <span>@Model.State.ReturnValue</span>
        </p>
        
        <p>
            <label>Variables</label>
            
            <ul>
            @foreach (var variable in Model.State.Variables)
            {
                <li>@variable.Name: @variable.Value</li>
            }
            </ul>
        </p>
    }

    <button type="submit">Evaluate</button>
</form>
